name: test
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  test-linux:
    strategy:
      fail-fast: false
      matrix:
        image:
          - swift:6.2
          - swiftlang/swift:nightly-6.3-jammy
    runs-on: ubuntu-latest
    container: ${{ matrix.image }}
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Run tests
        run: swift test -c release
  test-macos:
    strategy:
      fail-fast: false
      matrix:
        xcode:
          - latest
          - latest-stable
    runs-on: macos-latest
    steps:
      - name: Select toolchain
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}
      - name: Check out
        uses: actions/checkout@v2
      - name: Run tests
        run: swift test -c release
  test-windows:
    runs-on: windows-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Install Swift
        run: |
          curl -L -o swift.exe https://download.swift.org/swift-6.2-release/windows10/swift-6.2-RELEASE/swift-6.2-RELEASE-windows10.exe
          Start-Process -Wait -FilePath .\swift.exe -ArgumentList '/install', '/quiet'
          Add-Content $env:GITHUB_PATH "C:\Program Files\Swift\bin"
        shell: pwsh
      - name: Run tests
        run: swift test -c release
  test-embedded:
    runs-on: ubuntu-latest
    container: swiftlang/swift:nightly-main-jammy
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Build for Embedded Swift
        run: swift build -c release --target _JSONCore -Xswiftc -enable-experimental-feature -Xswiftc Embedded -Xswiftc -wmo
